@import "tailwindcss";

body {
    height: 100vh;
    background: linear-gradient(to bottom ,#1a002b, #2a0045, #5f00a5);
}

footer {
    display: flex;
    background: linear-gradient(#1a002b, #0e0015);
    color: white;
    text-align: center;
    height: 12vh;
    width: 100%;
}
